{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
</head>
<body>
    <div class="profile-container">
        <!-- Personal info -->
        <div class="profile-info card">
            <h2>User Profile</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Full Name:</strong> {{ profile.full_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
            <p><strong>Address:</strong> {{ profile.address }}</p>
            <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
        </div>


        <!-- Booking hisotry  -->
    <div class="booking-history card">
        <h3>Booking History</h3>
        {% if bookings %}
            <ul id="booking-list">
                {% for booking in bookings %}
                    <li id="booking-{{ booking.id }}">
                        <strong>Service:</strong> {{ booking.service }} <br>
                        <strong>Date:</strong> {{ booking.booking_date }} <br>
                        <strong>Status:</strong> {{ booking.status }} <br>

                        {% if booking.status|lower == "active" or booking.status|lower == "pending" %}
                            <button class="cancel-booking" data-id="{{ booking.id }}">Cancel</button>
                        {% endif %}


                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no bookings yet.</p>
        {% endif %}
    </div>

<!-- JS -->
<script src="{% static 'js/profile.js' %}"></script>


        <!-- update profile link -->
        <div class="update-profile-link">
            <a href="{% url 'update_profile' %}">Update Profile</a>
        </div>
    </div>
</body>
</html>
