<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_panel/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'manage_users' %}">👤 Users</a></li>
            <li><a href="{% url 'manage_bookings' %}">📅 Bookings</a></li>
            <li><a href="{% url 'reviews_list' %}">📃 Reviews</a></li>
        </ul>
    </nav>

    <hr>

    <div>
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}" defer></script>
</body>
</html>
